Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]

feat(mcp): add tenets-mcp entry point and mcp optional dependency
  pyproject.toml
Labels: area: config, dependencies

docs: add MCP server user documentation with IDE configs
  docs/MCP.md
Labels: area: docs

docs: add MCP server user documentation with IDE configs
  docs/MCP.md
Labels: area: docs

docs(arch): add detailed MCP integration plan and vision
  docs/architecture/mcp-integration-plan.md
Labels: area: docs

docs(arch): add detailed MCP integration plan and vision
  docs/architecture/mcp-integration-plan.md
Labels: area: docs

docs(arch): update architecture docs with MCP-first design
  docs/ARCHITECTURE.md
  docs/architecture/cli-api.md
  docs/architecture/roadmap.md
Labels: area: docs

docs(arch): update architecture docs with MCP-first design
  docs/ARCHITECTURE.md
  docs/architecture/cli-api.md
  docs/architecture/roadmap.md
Labels: area: docs

docs: update README with MCP section and add to navigation
  README.md
  mkdocs.yml
Labels: area: docs

docs: update README with MCP section and add to navigation
  README.md
  mkdocs.yml
Labels: area: docs

docs: add privacy policy and terms of service pages
  docs/privacy.md
  docs/terms.md
Labels: area: docs

docs: add privacy policy and terms of service pages
  docs/privacy.md
  docs/terms.md
Labels: area: docs

feat: improve GDPR consent with 3-tier options and proper GA integration
  docs/overrides/partials/consent.html
Labels: area: docs, area: frontend

feat: improve GDPR consent with 3-tier options and proper GA integration
  docs/overrides/partials/consent.html
Labels: area: docs, area: frontend

docs: update landing page with MCP as headline feature
  docs/index.md
  docs/styles/cards.css
Labels: area: docs, area: frontend

docs: update landing page with MCP as headline feature
  docs/index.md
  docs/styles/cards.css
Labels: area: docs, area: frontend

docs: update meta tags and SEO for MCP, add legal nav links
  docs/overrides/main.html
  mkdocs.yml
Labels: area: docs, area: frontend

docs: update meta tags and SEO for MCP, add legal nav links
  docs/overrides/main.html
  mkdocs.yml
Labels: area: docs, area: frontend

chore(release): bump version to v0.4.0 with MCP features
  CHANGELOG.md
  docs/api/index.md
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: core

chore(release): bump version to v0.4.0 with MCP features
  CHANGELOG.md
  docs/api/index.md
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: core

docs: correct v0.4.0 date and mention MCP transports
  CHANGELOG.md
  docs/api/index.md
Labels: area: docs

docs: correct v0.4.0 date and mention MCP transports
  CHANGELOG.md
  docs/api/index.md
Labels: area: docs

feat(landing): add tabbed install options with Core/MCP/Full
  docs/index.md
  docs/js/install-tabs.js
  docs/styles/hero.css
Labels: area: docs, area: frontend

feat(landing): add tabbed install options with Core/MCP/Full
  docs/index.md
  docs/js/install-tabs.js
  docs/styles/hero.css
Labels: area: docs, area: frontend

fix(cards): add z-index to featured card NEW badge
  docs/styles/cards.css
Labels: area: docs, area: frontend

fix(cards): add z-index to featured card NEW badge
  docs/styles/cards.css
Labels: area: docs, area: frontend

docs: add MCP link to footer, install-tabs.js to mkdocs
  docs/overrides/main.html
  mkdocs.yml
Labels: area: docs, area: frontend

docs: add MCP link to footer, install-tabs.js to mkdocs
  docs/overrides/main.html
  mkdocs.yml
Labels: area: docs, area: frontend

docs(readme): add MCP badge and legal links
  README.md
Labels: area: docs

docs(readme): add MCP badge and legal links
  README.md
Labels: area: docs

docs(mcp): add tool-to-prompt matrix table
  docs/MCP.md
Labels: area: docs

docs(mcp): add tool-to-prompt matrix table
  docs/MCP.md
Labels: area: docs

docs: add enterprise features placeholder page
  docs/enterprise.md
Labels: area: docs

docs: add enterprise features placeholder page
  docs/enterprise.md
Labels: area: docs

build: add explicit readme content-type for PyPI
  pyproject.toml
Labels: area: config, dependencies

build: add explicit readme content-type for PyPI
  pyproject.toml
Labels: area: config, dependencies

docs(mcp): improve tool docstrings with examples and usage guidance
  tenets/mcp/server.py
Labels: none

docs(mcp): improve tool docstrings with examples and usage guidance
  tenets/mcp/server.py
Labels: none

test(mcp): add comprehensive tests for sessions, tenets, error handling
  tests/mcp/test_server.py
Labels: area: tests

test(mcp): add comprehensive tests for sessions, tenets, error handling
  tests/mcp/test_server.py
Labels: area: tests

test(mcp): add CLI entrypoint tests and run() transport assertions
  .github/workflows/ci.yml
  docs/MCP.md
  mkdocs.yml
  tests/mcp/test_cli_entrypoint.py
  tests/mcp/test_server.py
Labels: area: docs, area: tests, area: ci/cd, github
