Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

test(mcp): add CLI entrypoint tests and run() transport assertions
  .github/workflows/ci.yml
  docs/MCP.md
  mkdocs.yml
  tests/mcp/test_cli_entrypoint.py
  tests/mcp/test_server.py
Labels: area: docs, area: tests, area: ci/cd, github

docs: add About and FAQ pages with manic.agency branding
  docs/about.md
  docs/faq.md
Labels: area: docs

docs: add About and FAQ pages with manic.agency branding
  docs/about.md
  docs/faq.md
Labels: area: docs

docs: add comprehensive tutorial for AI-powered coding workflow
  docs/tutorial.md
Labels: area: docs

docs: add comprehensive tutorial for AI-powered coding workflow
  docs/tutorial.md
Labels: area: docs

docs: add blog with SEO-optimized posts on context and MCP
  docs/blog/cursor-claude-setup.md
  docs/blog/index.md
  docs/blog/mcp-explained.md
  docs/blog/why-context-matters.md
Labels: area: docs

docs: add blog with SEO-optimized posts on context and MCP
  docs/blog/cursor-claude-setup.md
  docs/blog/index.md
  docs/blog/mcp-explained.md
  docs/blog/why-context-matters.md
Labels: area: docs

chore: add llms.txt and agent instruction files for AI discoverability
  .cursorrules
  .github/AGENTS.md
  llms.txt
Labels: area: docs, github

chore: add llms.txt and agent instruction files for AI discoverability
  .cursorrules
  .github/AGENTS.md
  llms.txt
Labels: area: docs, github

seo: enhance metadata, schema.org, and navigation with new pages
  docs/index.md
  docs/overrides/main.html
  mkdocs.yml
Labels: area: docs, area: frontend

seo: enhance metadata, schema.org, and navigation with new pages
  docs/index.md
  docs/overrides/main.html
  mkdocs.yml
Labels: area: docs, area: frontend

docs: add MCP submission guide and marketing templates
  docs/mcp-submission.md
  mkdocs.yml
Labels: area: docs

feat(landing): add MCP integration showcase, tool examples, and enterprise CTA
  docs/index.md
Labels: area: docs

docs: add MCP submission guide and marketing templates
  docs/mcp-submission.md
  mkdocs.yml
Labels: area: docs

feat(landing): add MCP integration showcase, tool examples, and enterprise CTA
  docs/index.md
Labels: area: docs

chore: remove marketing file from repo
  .gitignore
Labels: none

chore: remove marketing file from repo
  .gitignore
Labels: none

docs(mcp): clarify package vs command naming
  docs/MCP.md
Labels: area: docs

docs(mcp): clarify package vs command naming
  docs/MCP.md
Labels: area: docs

refactor: MCP-first branding, remove internal docs from public nav
  README.md
  docs/index.md
  docs/mcp-submission.md
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies

refactor: MCP-first branding, remove internal docs from public nav
  README.md
  docs/index.md
  docs/mcp-submission.md
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies

fix: correct version to 0.4.0 in typewriter display
  docs/js/typewriter.js
Labels: area: docs, area: frontend

fix: correct version to 0.4.0 in typewriter display
  docs/js/typewriter.js
Labels: area: docs, area: frontend

fix: sync all versions to 0.5.0 (matches PyPI)
  docs/js/typewriter.js
  docs/overrides/main.html
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: frontend, area: core

fix: sync all versions to 0.5.0 (matches PyPI)
  docs/js/typewriter.js
  docs/overrides/main.html
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: frontend, area: core

docs: MCP-focused landing page with setup guide
  docs/index.md
Labels: area: docs

docs: MCP-focused landing with tables, pipeline details, visual identity
  docs/index.md
Labels: area: docs

fix: update home.html template with MCP-first messaging
  docs/overrides/home.html
Labels: area: docs, area: frontend

fix: handle Windows paths correctly on any OS
  tenets/cli/commands/examine.py
Labels: area: cli

fix: simplify install options to 3 clear choices
  docs/overrides/home.html
  docs/styles/victorian.css
Labels: area: docs, area: frontend

feat: add MCP config examples for Cursor, Claude Desktop, Windsurf
  docs/overrides/home.html
  docs/styles/victorian.css
Labels: area: docs, area: frontend

fix: lower coverage gate threshold and make non-blocking
  .github/workflows/ci.yml
Labels: area: ci/cd, github

fix: improve MCP config section styling and move to top
  docs/overrides/home.html
  docs/styles/victorian.css
Labels: area: docs, area: frontend

fix: config code block wider and visible in light mode
  docs/styles/victorian.css
Labels: area: docs, area: frontend

fix: force light text color in config code block for light mode
  docs/styles/victorian.css
Labels: area: docs, area: frontend

fix: py3.14 compat and MCP docs clarifications
  docs/about.md
  docs/overrides/home.html
  docs/styles/victorian.css
  tenets/core/analysis/implementations/python_analyzer.py
  tenets/core/analysis/project_detector.py
Labels: area: docs, area: analysis, area: frontend, area: core

docs: streamline README intro and add HTML report note
  README.md
Labels: area: docs

docs: point codecov badge to master branch
  README.md
Labels: area: docs

docs: add MCP quick reference to README
  README.md
Labels: area: docs

feat: expand MCP tools options (html distill, filters for rank)
  docs/MCP.md
  tenets/mcp/server.py
Labels: area: docs

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]
