Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

docs: site revamping / style fixing; add the demo images
  MAKEFILE
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/CONFIG.md
  docs/CONTRIBUTING.md
  docs/docs.md
  docs/features.md
  docs/first-steps.md
  docs/index.md
  docs/installation.md
  docs/js/see-it-in-action.js
  docs/overrides/home.html
  docs/quickstart.md
  tenets/core/summarizer/strategies.py
Labels: area: docs, area: frontend, area: core

docs: site revamping / style fixing; add the demo images
  MAKEFILE
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/CONFIG.md
  docs/CONTRIBUTING.md
  docs/docs.md
  docs/features.md
  docs/first-steps.md
  docs/index.md
  docs/installation.md
  docs/js/see-it-in-action.js
  docs/overrides/home.html
  docs/quickstart.md
  tenets/core/summarizer/strategies.py
Labels: area: docs, area: frontend, area: core

fix: resolve test failures; fix rich markup issues, sys instruction injection / tenet slow command imports
  tenets/__init__.py
  tenets/cli/commands/instill.py
  tenets/cli/commands/tenet.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/prompt/__init__.py
  tests/cli/commands/test_system_instruction.py
  tests/conftest.py
  tests/core/instiller/conftest.py
  tests/core/instiller/test_instiller.py
  tests/test_tenets.py
Labels: area: cli, area: tests, area: core

fix: resolve test failures; fix rich markup issues, sys instruction injection / tenet slow command imports
  tenets/__init__.py
  tenets/cli/commands/instill.py
  tenets/cli/commands/tenet.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/prompt/__init__.py
  tests/cli/commands/test_system_instruction.py
  tests/conftest.py
  tests/core/instiller/conftest.py
  tests/core/instiller/test_instiller.py
  tests/test_tenets.py
Labels: area: cli, area: tests, area: core

ci: workflow fix for jest
  .github/workflows/ci.yml
  tenets/__init__.py
  tenets/cli/commands/system_instruction.py
  tenets/core/instiller/instiller.py
  tenets/core/prompt/__init__.py
  tests/conftest.py
  tests/test_tenets.py
Labels: area: cli, area: tests, area: ci/cd, github, area: core

ci: workflow fix for jest
  .github/workflows/ci.yml
  tenets/__init__.py
  tenets/cli/commands/system_instruction.py
  tenets/core/instiller/instiller.py
  tenets/core/prompt/__init__.py
  tests/conftest.py
  tests/test_tenets.py
Labels: area: cli, area: tests, area: ci/cd, github, area: core

fix: make distill cmd use ranker as was supposed to before, hook up nlp tools / refactor comps out; update tests and docs architecture
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/index.md
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/rank.py
  tenets/core/prompt/__init__.py
  tenets/core/ranking/strategies.py
  tests/cli/commands/test_rank.py
  tests/cli/test_app.py
Labels: area: docs, area: ranking, area: cli, area: tests, area: core

fix: make distill cmd use ranker as was supposed to before, hook up nlp tools / refactor comps out; update tests and docs architecture
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/index.md
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/rank.py
  tenets/core/prompt/__init__.py
  tenets/core/ranking/strategies.py
  tests/cli/commands/test_rank.py
  tests/cli/test_app.py
Labels: area: docs, area: ranking, area: cli, area: tests, area: core

docs: fix img links for rank
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/overrides/home.html
  tenets/cli/commands/rank.py
  tests/cli/commands/test_rank.py
Labels: area: docs, area: cli, area: tests, area: frontend

docs: fix img links for rank
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/overrides/home.html
  tenets/cli/commands/rank.py
  tests/cli/commands/test_rank.py
Labels: area: docs, area: cli, area: tests, area: frontend

fix: make rank feature truly composable within distill
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
Labels: area: cli

fix: make rank feature truly composable within distill
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
Labels: area: cli

docs: update broken links in docs / style updates
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/assets/images/screenshots/code-analysis.png
  docs/assets/images/screenshots/complexity.png
  docs/assets/images/screenshots/context-building-1.png
  docs/assets/images/screenshots/context-building-2.png
  docs/assets/images/screenshots/quality.png
  docs/assets/images/screenshots/rank.png
  docs/assets/images/screenshots/sessions-1.png
  docs/assets/images/screenshots/sessions-2.png
  docs/assets/images/screenshots/sessions-3.png
  docs/assets/images/screenshots/velocity.png
  docs/assets/images/screenshots/visualization.png
  docs/js/copy-buttons.js
  docs/overrides/home.html
  docs/styles/header.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/search.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: update broken links in docs / style updates
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/assets/images/screenshots/code-analysis.png
  docs/assets/images/screenshots/complexity.png
  docs/assets/images/screenshots/context-building-1.png
  docs/assets/images/screenshots/context-building-2.png
  docs/assets/images/screenshots/quality.png
  docs/assets/images/screenshots/rank.png
  docs/assets/images/screenshots/sessions-1.png
  docs/assets/images/screenshots/sessions-2.png
  docs/assets/images/screenshots/sessions-3.png
  docs/assets/images/screenshots/velocity.png
  docs/assets/images/screenshots/visualization.png
  docs/js/copy-buttons.js
  docs/overrides/home.html
  docs/styles/header.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/search.css
  mkdocs.yml
Labels: area: docs, area: frontend

fix: resolve test failures; method signatures use keyword args; adjust instiller injection logic to use first distill
  README.md
  pyproject.toml
  pytest.ini
  tenets/__init__.py
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/config.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/instiller/injector.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/ranking/ranker.py
  tenets/utils/multiprocessing.py
  tenets/utils/scanner.py
  tests/cli/commands/test_rank.py
  tests/cli/commands/test_tenet.py
  tests/core/instiller/test_injector.py
  tests/core/instiller/test_instiller.py
  tests/core/ranker/test_ranker.py
  tests/test_tenets.py
Labels: area: docs, area: ranking, area: cli, area: config, area: tests, dependencies, area: core, area: utils

fix: resolve test failures; method signatures use keyword args; adjust instiller injection logic to use first distill
  README.md
  pyproject.toml
  pytest.ini
  tenets/__init__.py
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/config.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/instiller/injector.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/ranking/ranker.py
  tenets/utils/multiprocessing.py
  tenets/utils/scanner.py
  tests/cli/commands/test_rank.py
  tests/cli/commands/test_tenet.py
  tests/core/instiller/test_injector.py
  tests/core/instiller/test_instiller.py
  tests/core/ranker/test_ranker.py
  tests/test_tenets.py
Labels: area: docs, area: ranking, area: cli, area: config, area: tests, dependencies, area: core, area: utils

fix: linting and broken syntax fixes
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/instiller/injector.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/prompt/__init__.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/utils/multiprocessing.py
  tenets/utils/scanner.py
  tests/cli/commands/test_rank.py
  tests/cli/commands/test_tenet.py
  tests/cli/test_app.py
  tests/core/ranker/test_ranker.py
  tests/test_tenets.py
Labels: area: ranking, area: cli, area: tests, area: core, area: utils

fix: linting and broken syntax fixes
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/instiller/injector.py
  tenets/core/instiller/instiller.py
  tenets/core/instiller/manager.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/prompt/__init__.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/utils/multiprocessing.py
  tenets/utils/scanner.py
  tests/cli/commands/test_rank.py
  tests/cli/commands/test_tenet.py
  tests/cli/test_app.py
  tests/core/ranker/test_ranker.py
  tests/test_tenets.py
Labels: area: ranking, area: cli, area: tests, area: core, area: utils

fix: resolve Python 3.11 f-string syntax error in rank
  tenets/cli/commands/rank.py
Labels: area: cli

fix: resolve Python 3.11 f-string syntax error in rank
  tenets/cli/commands/rank.py
Labels: area: cli

fix: actual fstring fixers for py311
  docs/overrides/home.html
  tenets/cli/commands/rank.py
Labels: area: docs, area: cli, area: frontend

fix: actual fstring fixers for py311
  docs/overrides/home.html
  tenets/cli/commands/rank.py
Labels: area: docs, area: cli, area: frontend

test: fix ML dependency test failures in CI
  .github/workflows/ci.yml
  tests/core/nlp/test_embeddings.py
  tests/core/summarizer/test_summarizer.py
Labels: area: tests, area: ci/cd, github

test: fix ML dependency test failures in CI
  .github/workflows/ci.yml
  tests/core/nlp/test_embeddings.py
  tests/core/summarizer/test_summarizer.py
Labels: area: tests, area: ci/cd, github

test: cleanup; add missing viz depens to ci
  .github/workflows/ci.yml
  README.md
Labels: area: docs, area: ci/cd, github

test: cleanup; add missing viz depens to ci
  .github/workflows/ci.yml
  README.md
Labels: area: docs, area: ci/cd, github

fix: refactor project detector out into analysis
  README.md
  tenets/cli/commands/viz.py
  tenets/core/analysis/project_detector.py
  tests/core/analysis/test_project_detector.py
Labels: area: docs, area: analysis, area: cli, area: tests, area: core

fix: refactor project detector out into analysis
  README.md
  tenets/cli/commands/viz.py
  tenets/core/analysis/project_detector.py
  tests/core/analysis/test_project_detector.py
Labels: area: docs, area: analysis, area: cli, area: tests, area: core

feat: make bm25 into its own comp like tfidf and ensure its used over everything by default; update tests, config
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/config.py
  tenets/core/analysis/base.py
  tenets/core/analysis/implementations/go_analyzer.py
  tenets/core/analysis/implementations/java_analyzer.py
  tenets/core/analysis/implementations/javascript_analyzer.py
  tenets/core/analysis/implementations/python_analyzer.py
  tenets/core/analysis/project_detector.py
  tenets/core/nlp/bm25.py
  tenets/core/nlp/tfidf.py
  tenets/core/ranking/__init__.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/summarizer/strategies.py
  tests/core/analysis/implementations/test_javascript_analyzer.py
  tests/core/analysis/implementations/test_python_analyzer.py
  tests/core/analysis/test_project_detector.py
  tests/core/nlp/test_tfidf.py
Labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: core

feat: make bm25 into its own comp like tfidf and ensure its used over everything by default; update tests, config
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  tenets/cli/commands/rank.py
  tenets/cli/commands/tenet.py
  tenets/config.py
  tenets/core/analysis/base.py
  tenets/core/analysis/implementations/go_analyzer.py
  tenets/core/analysis/implementations/java_analyzer.py
  tenets/core/analysis/implementations/javascript_analyzer.py
  tenets/core/analysis/implementations/python_analyzer.py
  tenets/core/analysis/project_detector.py
  tenets/core/nlp/bm25.py
  tenets/core/nlp/tfidf.py
  tenets/core/ranking/__init__.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/summarizer/strategies.py
  tests/core/analysis/implementations/test_javascript_analyzer.py
  tests/core/analysis/implementations/test_python_analyzer.py
  tests/core/analysis/test_project_detector.py
  tests/core/nlp/test_tfidf.py
Labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: core

fix: add docs info to development doc; search styles fixes; fstring issue with rank
  docs/DEVELOPMENT.md
  docs/favicon/site.webmanifest
  docs/overrides/home.html
  docs/styles/overrides.css
  tenets/cli/commands/rank.py
Labels: area: docs, area: cli, area: frontend

fix: add docs info to development doc; search styles fixes; fstring issue with rank
  docs/DEVELOPMENT.md
  docs/favicon/site.webmanifest
  docs/overrides/home.html
  docs/styles/overrides.css
  tenets/cli/commands/rank.py
Labels: area: docs, area: cli, area: frontend

docs: website styles fixes for search
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/search.css
Labels: area: docs, area: frontend

docs: website styles fixes for search
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/search.css
Labels: area: docs, area: frontend

chore: add LICENSE
  LICENSE
Labels: none

chore: add LICENSE
  LICENSE
Labels: none

docs: site updates / search style fixes; add image modals
  docs/js/image-modal.js
  docs/js/main.js
  docs/overrides/home.html
  docs/styles/header.css
  docs/styles/image-modal.css
  docs/styles/mobile.css
  docs/styles/search.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: site updates / search style fixes; add image modals
  docs/js/image-modal.js
  docs/js/main.js
  docs/overrides/home.html
  docs/styles/header.css
  docs/styles/image-modal.css
  docs/styles/mobile.css
  docs/styles/search.css
  mkdocs.yml
Labels: area: docs, area: frontend

Create CNAME
  CNAME
Labels: none

ci: cname domain fixes
  CHANGELOG.md
  docs/CNAME
  docs/DEPLOYMENT.md
Labels: area: docs

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]
