Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

docs: simplify gen_api.py and process all .py files in tenets
  docs/gen_api.py
  mkdocs.yml
Labels: area: docs

docs: skip generating content for pkk index files to avoid conflicts
  docs/gen_api.py
Labels: area: docs

docs: skip generating content for pkk index files to avoid conflicts
  docs/gen_api.py
Labels: area: docs

docs: simplify api docs generation
  docs/gen_api.py
  mkdocs.yml
Labels: area: docs

docs: simplify api docs generation
  docs/gen_api.py
  mkdocs.yml
Labels: area: docs

docs: hopefully this links all generated api doc files
  docs/api/tenets/index.md
  docs/gen_api.py
Labels: area: docs

docs: hopefully this links all generated api doc files
  docs/api/tenets/index.md
  docs/gen_api.py
Labels: area: docs

docs: improve API documentation generation with proper module/class links
  mkdocs.yml
Labels: area: docs

docs: improve API documentation generation with proper module/class links
  mkdocs.yml
Labels: area: docs

docs: better site hero styles + pip install cmd at top
  docs/index.md
  docs/styles/hero.css
Labels: area: docs, area: frontend

docs: better site hero styles + pip install cmd at top
  docs/index.md
  docs/styles/hero.css
Labels: area: docs, area: frontend

fix: correct README command examples and bump version to 0.3.2
  README.md
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: core

fix: correct README command examples and bump version to 0.3.2
  README.md
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: core

docs: mobile site style fixes for nav
  docs/styles/header.css
  docs/styles/mobile.css
Labels: area: docs, area: frontend

docs: mobile site style fixes for nav
  docs/styles/header.css
  docs/styles/mobile.css
Labels: area: docs, area: frontend

docs: website nav style fixes
  docs/styles/header-fixed.css
  docs/styles/header.css
  docs/styles/mobile.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: website nav style fixes
  docs/styles/header-fixed.css
  docs/styles/header.css
  docs/styles/mobile.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: nav style fixes, fix broken missing looking for git commited files
  docs/styles/header.css
  docs/styles/logo-fix.css
  docs/styles/mobile.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: nav style fixes, fix broken missing looking for git commited files
  docs/styles/header.css
  docs/styles/logo-fix.css
  docs/styles/mobile.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: site nav fixes for mobile
  docs/js/github-stats.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/hero.css
  docs/styles/mobile.css
Labels: area: docs, area: frontend

docs: site nav fixes for mobile
  docs/js/github-stats.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/hero.css
  docs/styles/mobile.css
Labels: area: docs, area: frontend

docs: site newsletter color fixes and add install cmd clearly at top
  docs/index.md
  docs/js/copy-buttons.js
  docs/overrides/home.html
  docs/styles/footer.css
  docs/styles/hero.css
  docs/styles/mobile.css
  docs/styles/victorian.css
Labels: area: docs, area: frontend

docs: site newsletter color fixes and add install cmd clearly at top
  docs/index.md
  docs/js/copy-buttons.js
  docs/overrides/home.html
  docs/styles/footer.css
  docs/styles/hero.css
  docs/styles/mobile.css
  docs/styles/victorian.css
Labels: area: docs, area: frontend

docs: more ui improvements in docs site
  docs/index.md
  docs/js/copy-buttons.js
  docs/styles/footer.css
  docs/styles/hero.css
  docs/styles/mobile.css
  docs/styles/victorian.css
Labels: area: docs, area: frontend

docs: more ui improvements in docs site
  docs/index.md
  docs/js/copy-buttons.js
  docs/styles/footer.css
  docs/styles/hero.css
  docs/styles/mobile.css
  docs/styles/victorian.css
Labels: area: docs, area: frontend

docs: proper site fixes in content architectural docs etc
  docs/architecture/system-overview.md
  docs/index.md
  docs/js/copy-buttons.js
  docs/overrides/home.html
  docs/styles/hero.css
  docs/styles/mobile.css
  docs/styles/victorian.css
Labels: area: docs, area: frontend

docs: proper site fixes in content architectural docs etc
  docs/architecture/system-overview.md
  docs/index.md
  docs/js/copy-buttons.js
  docs/overrides/home.html
  docs/styles/hero.css
  docs/styles/mobile.css
  docs/styles/victorian.css
Labels: area: docs, area: frontend

docs: update with how it works readme
  README.md
Labels: area: docs

docs: update with how it works readme
  README.md
Labels: area: docs

docs: clean up readme
  README.md
Labels: area: docs

docs: clean up readme
  README.md
Labels: area: docs

fix: resolve NeuralReranker import issues and add Rust/C++ import detection
  README.md
  docs/CLI.md
  docs/architecture/ranking-system.md
  pyproject.toml
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tenets/config.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/summarizer/__init__.py
  tenets/core/summarizer/summarizer.py
  tenets/core/summarizer/summarizer_utils.py
  tests/core/ranker/test_neural_reranking.py
  tests/core/ranker/test_ranker.py
Labels: area: docs, area: ranking, area: cli, area: config, area: tests, dependencies, area: core

fix: resolve NeuralReranker import issues and add Rust/C++ import detection
  README.md
  docs/CLI.md
  docs/architecture/ranking-system.md
  pyproject.toml
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tenets/config.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/summarizer/__init__.py
  tenets/core/summarizer/summarizer.py
  tenets/core/summarizer/summarizer_utils.py
  tests/core/ranker/test_neural_reranking.py
  tests/core/ranker/test_ranker.py
Labels: area: docs, area: ranking, area: cli, area: config, area: tests, dependencies, area: core

fix: resolve NeuralReranker import issues and add Rust/C++ import detection
  CHANGELOG.md
  README.md
  docs/CLI.md
  docs/architecture/ranking-system.md
  pyproject.toml
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tenets/config.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/summarizer/__init__.py
  tenets/core/summarizer/summarizer.py
  tenets/core/summarizer/summarizer_utils.py
  tests/core/ranker/test_neural_reranking.py
  tests/core/ranker/test_ranker.py
Labels: area: docs, area: ranking, area: cli, area: config, area: tests, dependencies, area: core

fix: resolve NeuralReranker import issues and add Rust/C++ import detection
  CHANGELOG.md
  README.md
  docs/CLI.md
  docs/architecture/ranking-system.md
  pyproject.toml
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tenets/config.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/summarizer/__init__.py
  tenets/core/summarizer/summarizer.py
  tenets/core/summarizer/summarizer_utils.py
  tests/core/ranker/test_neural_reranking.py
  tests/core/ranker/test_ranker.py
Labels: area: docs, area: ranking, area: cli, area: config, area: tests, dependencies, area: core

feat(mcp): add MCP server module with tools, resources, and prompts
  tenets/mcp/__init__.py
  tenets/mcp/server.py
Labels: none

feat(mcp): add MCP server module with tools, resources, and prompts
  tenets/mcp/__init__.py
  tenets/mcp/server.py
Labels: none

test(mcp): add comprehensive MCP server test suite
  tests/mcp/__init__.py
  tests/mcp/test_server.py
Labels: area: tests

test(mcp): add comprehensive MCP server test suite
  tests/mcp/__init__.py
  tests/mcp/test_server.py
Labels: area: tests

feat(mcp): add tenets-mcp entry point and mcp optional dependency
  pyproject.toml
Labels: area: config, dependencies

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]
