Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

test: expand MCP tests with Py3.14 compat and edge cases (79 tests)
  tests/mcp/test_server.py
Labels: area: tests

docs: update changelog for 0.7.0 MCP changes
  CHANGELOG.md
Labels: area: docs

fix: py3.14 import recursion and stabilize MCP tests
  CHANGELOG.md
  docs/MCP.md
  tenets/core/__init__.py
  tests/conftest.py
Labels: area: docs, area: tests, area: core

chore: release v0.7.1
  CHANGELOG.md
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: core

chore: release v0.7.1
  CHANGELOG.md
Labels: area: docs

fix: stabilize distill unit test config
  tests/conftest.py
Labels: area: tests

docs: make MCP quickstart primary
  README.md
  docs/index.md
Labels: area: docs

fix: guard numpy import in summarizer
  tenets/core/summarizer/strategies.py
Labels: area: core

docs: push MCP-first messaging to quickstart/tutorial/blog
  docs/blog/cursor-claude-setup.md
  docs/quickstart.md
  docs/tutorial.md
Labels: area: docs

fix: import typing List in summarizer utils
  tenets/core/summarizer/summarizer_utils.py
Labels: area: core

ci: scope coverage to core modules, exclude optional features
  README.md
  codecov.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies

fix: MCP config section dark theme in light mode for readability
  docs/styles/victorian.css
Labels: area: docs, area: frontend

ci: skip version bumps for CSS/styling commits
  .github/workflows/version-bump-push.yml
Labels: area: ci/cd, github

chore: consolidate How It Works sections on landing page
  docs/overrides/home.html
Labels: area: docs, area: frontend

chore: emphasize 100% local MCP server + NLP messaging
  docs/overrides/home.html
Labels: area: docs, area: frontend

style: force light text in MCP config section for light mode
  docs/styles/victorian.css
Labels: area: docs, area: frontend

style: fix MCP config section light mode - light bg, dark code blocks only
  docs/styles/victorian.css
Labels: area: docs, area: frontend

style: dark bg + amber text for inline code in light mode
  docs/styles/victorian.css
Labels: area: docs, area: frontend

docs: update blog post dates (Sep-Dec 2024)
  docs/blog/mcp-explained.md
  docs/blog/why-context-matters.md
Labels: area: docs

docs: rewrite blog posts with technical depth, examples, architecture refs
  docs/blog/cursor-claude-setup.md
  docs/blog/mcp-explained.md
  docs/blog/why-context-matters.md
Labels: area: docs

docs: shorten tagline to 'MCP server for context that feeds your prompts'
  docs/overrides/home.html
  docs/overrides/main.html
  mkdocs.yml
Labels: area: docs, area: frontend

docs: SEO optimization - robots.txt, sitemap, schemas, landing pages
  docs/CLI.md
  docs/MCP.md
  docs/claude-mcp.md
  docs/cursor-mcp.md
  docs/faq.md
  docs/index.md
  docs/installation.md
  docs/overrides/main.html
  docs/quickstart.md
  docs/robots.txt
  mkdocs.yml
Labels: area: docs, area: frontend

style: improve MCP config readability and search visibility on mobile
  docs/styles/mobile.css
  docs/styles/victorian.css
Labels: area: docs, area: frontend

docs: emphasize intelligent context aggregation and automatic tenets injection
  README.md
  docs/MCP.md
  docs/index.md
  docs/overrides/main.html
  docs/quickstart.md
  mkdocs.yml
Labels: area: docs, area: frontend

docs: maximize SEO for tenets MCP, Python library, CLI, LLM across all pages
  docs/MCP.md
  docs/blog/cursor-claude-setup.md
  docs/blog/mcp-explained.md
  docs/blog/why-context-matters.md
  docs/index.md
  docs/overrides/main.html
  docs/quickstart.md
Labels: area: docs, area: frontend

docs: remove sitemap plugin (Material handles it natively)
  mkdocs.yml
Labels: area: docs

style: improve mobile nav - always show search/GitHub, add to drawer
  docs/js/mobile-menu.js
  docs/styles/mobile.css
Labels: area: docs, area: frontend

docs: comprehensive site audit - SEO, accessibility, performance
  docs/assets/og-image.svg
  docs/blog/cursor-claude-setup.md
  docs/blog/mcp-explained.md
  docs/blog/why-context-matters.md
  docs/llms-full.txt
  docs/llms.txt
  docs/overrides/home.html
  docs/overrides/main.html
  docs/robots.txt
  docs/styles/accessibility.css
  docs/styles/variables.css
  mkdocs.yml
Labels: area: docs, area: frontend

fix: disable colored output in MCP stdio mode
  tenets/mcp/server.py
  tenets/utils/logger.py
Labels: area: utils

fix: optimize distill performance with parallel analysis and timeout handling
  CHANGELOG.md
  README.md
  docs/CLI.md
  docs/MCP.md
  docs/TESTING.md
  tenets/__init__.py
  tenets/cli/commands/distill.py
  tenets/config.py
  tenets/core/analysis/analyzer.py
  tenets/core/distiller/distiller.py
  tenets/core/ranking/ranker.py
  tenets/mcp/server.py
  tenets/utils/tokens.py
  tests/cli/commands/test_distill.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_timeout.py
  tests/mcp/test_cli_entrypoint.py
  tests/mcp/test_server.py
Labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: core, area: utils

feat: add VSCode extension for Tenets MCP Server
  README.md
  docs/MCP.md
  docs/index.md
  docs/vscode-setup.md
  vscode-extension/.gitignore
  vscode-extension/.vscodeignore
  vscode-extension/LICENSE
  vscode-extension/README.md
  vscode-extension/esbuild.js
  vscode-extension/icon.png
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/serverManager.ts
  vscode-extension/tsconfig.json
Labels: area: docs, area: frontend

docs: add VS Code Extension CTA to landing page
  docs/index.md
Labels: area: docs

docs: remove duplicate 100% local processing mention from README
  README.md
Labels: area: docs

docs: add VS Code Marketplace badge to README
  README.md
Labels: area: docs

fix: add scikit-learn and nltk to [mcp] dependencies for TextRank summarization
  pyproject.toml
Labels: area: config, dependencies

docs: add Claude Code CLI setup instructions
  README.md
  docs/MCP.md
  docs/index.md
Labels: area: docs

feat(mcp): add workflow prompts for refactoring, debugging, review, onboarding
  tenets/mcp/server.py
Labels: none

feat(mcp): add resources for ranking factors, active session, hotspots
  tenets/mcp/server.py
Labels: none

feat(cache): add LRU cache utilities for embeddings and rankings
  tenets/utils/cache.py
Labels: area: utils

feat(ranking): integrate caching for ranking scores
  tenets/core/ranking/ranker.py
Labels: area: ranking, area: core

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]
