Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]

docs: site fixes / doc fixes for pages
  docs/DEPLOYMENT.md
  docs/gen_api.py
  docs/includes/abbreviations.md
  docs/index.md
  docs/js/mobile-menu.js
  docs/js/nav-injection.js
  docs/js/page-flags.js
  docs/js/see-it-in-action.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/overrides/partials/head-meta.html
  docs/quickstart.md
  docs/styles/cards.css
  docs/styles/header.css
  docs/styles/hero.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/see-it-in-action.css
  docs/styles/victorian.css
  mkdocs.dev.yml
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies, area: frontend

docs: site fixes / doc fixes for pages
  docs/DEPLOYMENT.md
  docs/gen_api.py
  docs/includes/abbreviations.md
  docs/index.md
  docs/js/mobile-menu.js
  docs/js/nav-injection.js
  docs/js/page-flags.js
  docs/js/see-it-in-action.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/overrides/partials/head-meta.html
  docs/quickstart.md
  docs/styles/cards.css
  docs/styles/header.css
  docs/styles/hero.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/see-it-in-action.css
  docs/styles/victorian.css
  mkdocs.dev.yml
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies, area: frontend

docs: site fixes / doc fixes for pages, pkg config update
  README.md
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies

docs: site fixes / doc fixes for pages, pkg config update
  README.md
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies

fix: add json based extensive pattern recognition for regex / matching
  tenets/data/pattterns/entity_patterns.json
  tenets/data/pattterns/external_patterns.json
  tenets/data/pattterns/intent_patterns.json
  tenets/data/pattterns/programming_patterns.json
  tenets/data/pattterns/temporal_patterns.json
Labels: none

fix: add json based extensive pattern recognition for regex / matching
  tenets/data/pattterns/entity_patterns.json
  tenets/data/pattterns/external_patterns.json
  tenets/data/pattterns/intent_patterns.json
  tenets/data/pattterns/programming_patterns.json
  tenets/data/pattterns/temporal_patterns.json
Labels: none

fix: lint / precommit fixes
  mkdocs.yml
  tenets/__init__.py
  tenets/core/prompt/__init__.py
  tenets/core/prompt/cache.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/external_sources.py
  tenets/core/prompt/intent_detector.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/utils/external_sources.py
  tenets/viz/__init__.py
  tests/core/prompt/test_cache.py
  tests/core/prompt/test_entity_recognizer.py
  tests/core/prompt/test_intent_detector.py
  tests/core/prompt/test_parser.py
  tests/core/prompt/test_temporal_parser.py
  tests/utils/test_external_sources.py
Labels: area: docs, area: tests, area: core, area: utils

fix: lint / precommit fixes
  mkdocs.yml
  tenets/__init__.py
  tenets/core/prompt/__init__.py
  tenets/core/prompt/cache.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/external_sources.py
  tenets/core/prompt/intent_detector.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/utils/external_sources.py
  tenets/viz/__init__.py
  tests/core/prompt/test_cache.py
  tests/core/prompt/test_entity_recognizer.py
  tests/core/prompt/test_intent_detector.py
  tests/core/prompt/test_parser.py
  tests/core/prompt/test_temporal_parser.py
  tests/utils/test_external_sources.py
Labels: area: docs, area: tests, area: core, area: utils

fix: unit test fixes (67% coverage)
  tenets/__init__.py
  tenets/core/distiller/optimizer.py
  tenets/core/distiller/transform.py
  tenets/core/examiner/complexity.py
  tenets/core/examiner/examiner.py
  tenets/core/examiner/hotspots.py
  tenets/core/examiner/metrics.py
  tenets/core/examiner/ownership.py
  tenets/core/git/analyzer.py
  tenets/core/git/blame.py
  tenets/core/git/chronicle.py
  tenets/core/instiller/instiller.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/nlp/similarity.py
  tenets/core/nlp/tfidf.py
  tenets/core/prompt/cache.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/intent_detector.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tenets/core/summarizer/summarizer.py
  tenets/utils/external_sources.py
  tenets/utils/scanner.py
  tenets/viz/__init__.py
  tenets/viz/base.py
  tenets/viz/complexity.py
  tests/conftest.py
Labels: area: ranking, area: tests, area: core, area: utils

fix: unit test fixes (67% coverage)
  tenets/__init__.py
  tenets/core/distiller/optimizer.py
  tenets/core/distiller/transform.py
  tenets/core/examiner/complexity.py
  tenets/core/examiner/examiner.py
  tenets/core/examiner/hotspots.py
  tenets/core/examiner/metrics.py
  tenets/core/examiner/ownership.py
  tenets/core/git/analyzer.py
  tenets/core/git/blame.py
  tenets/core/git/chronicle.py
  tenets/core/instiller/instiller.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/nlp/similarity.py
  tenets/core/nlp/tfidf.py
  tenets/core/prompt/cache.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/intent_detector.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tenets/core/summarizer/summarizer.py
  tenets/utils/external_sources.py
  tenets/utils/scanner.py
  tenets/viz/__init__.py
  tenets/viz/base.py
  tenets/viz/complexity.py
  tests/conftest.py
Labels: area: ranking, area: tests, area: core, area: utils

docs: working site docs, nav, animations optimized
  docs/CLI.md
  docs/api/index.md
  docs/api/reference.md
  docs/gen_api.py
  docs/index.md
  docs/js/copy-buttons.js
  docs/js/lantern.js
  docs/js/main-simple.js
  docs/js/main.js
  docs/js/mobile-menu.js
  docs/js/page-flags.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/header.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/overrides.css
Labels: area: docs, area: frontend

docs: working site docs, nav, animations optimized
  docs/CLI.md
  docs/api/index.md
  docs/api/reference.md
  docs/gen_api.py
  docs/index.md
  docs/js/copy-buttons.js
  docs/js/lantern.js
  docs/js/main-simple.js
  docs/js/main.js
  docs/js/mobile-menu.js
  docs/js/page-flags.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/header.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/overrides.css
Labels: area: docs, area: frontend

docs: add security readme
  SECURITY.md
Labels: area: docs, security

docs: add security readme
  SECURITY.md
Labels: area: docs, security

fix: examiner fixes for code health analysis looking at actual hotspots and recs medatata; better html reports
  tenets/cli/commands/examine.py
  tenets/core/examiner/examiner.py
  tenets/core/examiner/hotspots.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tests/cli/commands/test_examine.py
  tests/core/examiner/test_examiner.py
  tests/core/reporter/test_generator.py
  tests/core/reporting/test_report_enhancements.py
Labels: area: cli, area: tests, area: core

fix: examiner fixes for code health analysis looking at actual hotspots and recs medatata; better html reports
  tenets/cli/commands/examine.py
  tenets/core/examiner/examiner.py
  tenets/core/examiner/hotspots.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tests/cli/commands/test_examine.py
  tests/core/examiner/test_examiner.py
  tests/core/reporter/test_generator.py
  tests/core/reporting/test_report_enhancements.py
Labels: area: cli, area: tests, area: core

fix: distill command issues; add verbose debugging; thresholds improvements and rejection tracking
  tenets/cli/commands/distill.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
Labels: area: cli, area: core

fix: distill command issues; add verbose debugging; thresholds improvements and rejection tracking
  tenets/cli/commands/distill.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
Labels: area: cli, area: core

feat: add automatic tests exclusion to changes unless specifically mapped in intents; styling
  README.md
  docs/ARCHITECTURE.md
  tenets/__init__.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/session.py
  tenets/config.py
  tenets/core/analysis/implementations/generic_analyzer.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/examiner/examiner.py
  tenets/core/prompt/parser.py
  tenets/core/summarizer/summarizer.py
  tenets/models/context.py
  tenets/utils/logger.py
  tests/cli/commands/test_distill.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_html_formatter.py
  tests/core/prompt/test_parser.py
  tests/core/summarizer/test_docs_context_summarization.py
  tests/test_config.py
  tests/utils/test_tokens.py
Labels: area: docs, area: analysis, area: cli, area: config, area: tests, area: ml, area: database, area: core, area: utils

feat: add automatic tests exclusion to changes unless specifically mapped in intents; styling
  README.md
  docs/ARCHITECTURE.md
  tenets/__init__.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/session.py
  tenets/config.py
  tenets/core/analysis/implementations/generic_analyzer.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/examiner/examiner.py
  tenets/core/prompt/parser.py
  tenets/core/summarizer/summarizer.py
  tenets/models/context.py
  tenets/utils/logger.py
  tests/cli/commands/test_distill.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_html_formatter.py
  tests/core/prompt/test_parser.py
  tests/core/summarizer/test_docs_context_summarization.py
  tests/test_config.py
  tests/utils/test_tokens.py
Labels: area: docs, area: analysis, area: cli, area: config, area: tests, area: ml, area: database, area: core, area: utils

feat: add context aware docs summarization
  README.md
  docs/ARCHITECTURE.md
  tenets/core/distiller/aggregator.py
  tests/core/prompt/test_documentation_keywords.py
  tests/core/summarizer/test_docs_context_summarization.py
Labels: area: docs, area: tests, area: core

feat: add context aware docs summarization
  README.md
  docs/ARCHITECTURE.md
  tenets/core/distiller/aggregator.py
  tests/core/prompt/test_documentation_keywords.py
  tests/core/summarizer/test_docs_context_summarization.py
Labels: area: docs, area: tests, area: core

feat: add timing to all major commands; update tests, examples; cleanup
  .gitignore
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/__init__.py
  tenets/cli/commands/chronicle.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/examine.py
  tenets/cli/commands/momentum.py
  tenets/cli/commands/session.py
  tenets/config.py
  tenets/core/analysis/implementations/generic_analyzer.py
  tenets/core/distiller/formatter.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/core/ranking/strategies.py
  tenets/core/reporting/generator.py
  tenets/core/summarizer/summarizer.py
  tenets/models/context.py
  tenets/utils/timing.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_html_formatter.py
  tests/core/ranker/test_ranker.py
  tests/core/summarizer/test_docs_context_summarization.py
  tests/utils/test_logger.py
  tests/utils/test_timing.py
Labels: area: ranking, area: analysis, area: cli, area: config, area: tests, area: ml, area: database, area: core, area: utils

feat: add timing to all major commands; update tests, examples; cleanup
  .gitignore
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/__init__.py
  tenets/cli/commands/chronicle.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/examine.py
  tenets/cli/commands/momentum.py
  tenets/cli/commands/session.py
  tenets/config.py
  tenets/core/analysis/implementations/generic_analyzer.py
  tenets/core/distiller/formatter.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/parser.py
  tenets/core/prompt/temporal_parser.py
  tenets/core/ranking/strategies.py
  tenets/core/reporting/generator.py
  tenets/core/summarizer/summarizer.py
  tenets/models/context.py
  tenets/utils/timing.py
  tests/core/distiller/test_distiller.py
  tests/core/distiller/test_html_formatter.py
  tests/core/ranker/test_ranker.py
  tests/core/summarizer/test_docs_context_summarization.py
  tests/utils/test_logger.py
  tests/utils/test_timing.py
Labels: area: ranking, area: analysis, area: cli, area: config, area: tests, area: ml, area: database, area: core, area: utils

feat: better visualization / working viz e2e for html reporting; add viz cheatsheet docs
  README.md
  conftest.py
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/VIZ_CHEATSHEET.md
  pyproject.toml
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/viz.py
  tenets/core/analysis/__init__.py
  tenets/core/analysis/analyzer.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/project_detector.py
  tenets/core/prompt/normalizer.py
  tenets/core/prompt/parser.py
  tenets/utils/scanner.py
  tenets/viz/graph_generator.py
  tests/cli/commands/test_viz.py
  tests/core/test_project_detector.py
  tests/viz/test_graph_generator.py
Labels: area: docs, area: analysis, area: cli, area: config, area: tests, dependencies, area: core, area: utils

feat: better visualization / working viz e2e for html reporting; add viz cheatsheet docs
  README.md
  conftest.py
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/VIZ_CHEATSHEET.md
  pyproject.toml
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/viz.py
  tenets/core/analysis/__init__.py
  tenets/core/analysis/analyzer.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/project_detector.py
  tenets/core/prompt/normalizer.py
  tenets/core/prompt/parser.py
  tenets/utils/scanner.py
  tenets/viz/graph_generator.py
  tests/cli/commands/test_viz.py
  tests/core/test_project_detector.py
  tests/viz/test_graph_generator.py
Labels: area: docs, area: analysis, area: cli, area: config, area: tests, dependencies, area: core, area: utils

docs: feature card text style fixes
  docs/styles/cards.css
  docs/styles/overrides.css
Labels: area: docs, area: frontend

docs: feature card text style fixes
  docs/styles/cards.css
  docs/styles/overrides.css
Labels: area: docs, area: frontend

feat: monkeypatchable logger everywhere; parallelize processing for speed when it wasnt before; update docs as needed / test fixes
  .tenets.example.yml
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/chronicle.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/examine.py
  tenets/cli/commands/momentum.py
  tenets/cli/commands/viz.py
  tenets/config.py
  tenets/core/__init__.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/examiner/complexity.py
  tenets/core/examiner/examiner.py
  tenets/core/git/__init__.py
  tenets/core/git/analyzer.py
  tenets/core/git/chronicle.py
  tenets/core/git/stats.py
  tenets/core/momentum/tracker.py
  tenets/core/nlp/embeddings.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/project_detector.py
  tenets/core/ranking/ranker.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tenets/core/summarizer/summarizer.py
  tenets/utils/logger.py
  tenets/utils/timing.py
  tenets/viz/__init__.py
  tenets/viz/displays.py
  tenets/viz/graph_generator.py
  tests/cli/commands/test_viz.py
  tests/core/prompt/test_parser.py
  tests/core/summarizer/test_docstring_weight.py
  tests/core/test_project_detector.py
Labels: area: ranking, area: cli, area: config, area: tests, area: core, area: utils

feat: monkeypatchable logger everywhere; parallelize processing for speed when it wasnt before; update docs as needed / test fixes
  .tenets.example.yml
  tenets/__init__.py
  tenets/cli/app.py
  tenets/cli/commands/chronicle.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/examine.py
  tenets/cli/commands/momentum.py
  tenets/cli/commands/viz.py
  tenets/config.py
  tenets/core/__init__.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/examiner/complexity.py
  tenets/core/examiner/examiner.py
  tenets/core/git/__init__.py
  tenets/core/git/analyzer.py
  tenets/core/git/chronicle.py
  tenets/core/git/stats.py
  tenets/core/momentum/tracker.py
  tenets/core/nlp/embeddings.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/project_detector.py
  tenets/core/ranking/ranker.py
  tenets/core/reporting/generator.py
  tenets/core/reporting/html_reporter.py
  tenets/core/summarizer/summarizer.py
  tenets/utils/logger.py
  tenets/utils/timing.py
  tenets/viz/__init__.py
  tenets/viz/displays.py
  tenets/viz/graph_generator.py
  tests/cli/commands/test_viz.py
  tests/core/prompt/test_parser.py
  tests/core/summarizer/test_docstring_weight.py
  tests/core/test_project_detector.py
Labels: area: ranking, area: cli, area: config, area: tests, area: core, area: utils

fix: keyword extracting in test fixes; broken docs links updatig; py312 testing compatibility; docs site style fixes for nav
  MAKEFILE
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/best-practices.md
  docs/docs.md
  docs/examples.md
  docs/first-steps.md
  docs/installation.md
  docs/js/mobile-menu.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/header.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/nav-fix.css
  mkdocs.dev.yml
  pyproject.toml
  tenets/core/nlp/keyword_extractor.py
  tests/core/nlp/test_keyword_extractor.py
Labels: area: docs, area: config, area: tests, dependencies, area: frontend, area: core

fix: keyword extracting in test fixes; broken docs links updatig; py312 testing compatibility; docs site style fixes for nav
  MAKEFILE
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/best-practices.md
  docs/docs.md
  docs/examples.md
  docs/first-steps.md
  docs/installation.md
  docs/js/mobile-menu.js
  docs/overrides/home.html
  docs/overrides/main.html
  docs/styles/header.css
  docs/styles/main.css
  docs/styles/mobile.css
  docs/styles/nav-fix.css
  mkdocs.dev.yml
  pyproject.toml
  tenets/core/nlp/keyword_extractor.py
  tests/core/nlp/test_keyword_extractor.py
Labels: area: docs, area: config, area: tests, dependencies, area: frontend, area: core

fix: update py312 test compatibility
  pytest_py312.ini
Labels: none

fix: update py312 test compatibility
  pytest_py312.ini
Labels: none

ci: add missing codecov config
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  tenets/cli/app.py
  tenets/cli/commands/tenet.py
Labels: area: cli, area: ci/cd, github

ci: add missing codecov config
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  tenets/cli/app.py
  tenets/cli/commands/tenet.py
Labels: area: cli, area: ci/cd, github

fix: missing param accepted in distill; proper lazy importing; fix circular logger import dep; fix some broken tests
  README.md
  pytest.ini
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/tenet.py
  tenets/core/distiller/distiller.py
  tenets/core/instiller/instiller.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/utils/logger.py
  tests/cli/commands/test_tenet.py
Labels: area: docs, area: ranking, area: cli, area: tests, area: core, area: utils

fix: missing param accepted in distill; proper lazy importing; fix circular logger import dep; fix some broken tests
  README.md
  pytest.ini
  tenets/cli/app.py
  tenets/cli/commands/distill.py
  tenets/cli/commands/tenet.py
  tenets/core/distiller/distiller.py
  tenets/core/instiller/instiller.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/utils/logger.py
  tests/cli/commands/test_tenet.py
Labels: area: docs, area: ranking, area: cli, area: tests, area: core, area: utils

fix: syntax issue fix
  tenets/cli/commands/system_instruction.py
Labels: area: cli

fix: syntax issue fix
  tenets/cli/commands/system_instruction.py
Labels: area: cli
