Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]

feat: trigger v0.2.0 release with accumulated fixes
  README.md
Labels: area: docs

fix: yaml syntax in version-bump-push action
  .github/workflows/version-bump-push.yml
Labels: area: ci/cd, github

fix: yaml syntax in version-bump-push action
  .github/workflows/version-bump-push.yml
Labels: area: ci/cd, github

feat: better name for api doc generator; trigger v0.2.0 in this commit
  docs/gen_api.py
Labels: area: docs

feat: better name for api doc generator; trigger v0.2.0 in this commit
  docs/gen_api.py
Labels: area: docs

fix: automate release triggering from version bump workflow
  .github/workflows/release.yml
  .github/workflows/version-bump-push.yml
Labels: area: ci/cd, github

fix: automate release triggering from version bump workflow
  .github/workflows/release.yml
  .github/workflows/version-bump-push.yml
Labels: area: ci/cd, github

feat: retrigger v0.2.0 flows; streamline readme rank vs distill
  README.md
Labels: area: docs

feat: retrigger v0.2.0 flows; streamline readme rank vs distill
  README.md
Labels: area: docs

fix: release workflow to handle manual trigger with tag parameter
  .github/workflows/release.yml
Labels: area: ci/cd, github

fix: release workflow to handle manual trigger with tag parameter
  .github/workflows/release.yml
Labels: area: ci/cd, github

fix: revert accidental version skip [skip version]
  .github/workflows/version-bump-push.yml
  pyproject.toml
  tenets/__init__.py
Labels: area: config, area: ci/cd, dependencies, github, area: core

fix: revert accidental version skip [skip version]
  .github/workflows/version-bump-push.yml
  pyproject.toml
  tenets/__init__.py
Labels: area: config, area: ci/cd, dependencies, github, area: core

chore: align versions to v0.3.1 to match PyPI [skip ci]
  CHANGELOG.md
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: core

chore: align versions to v0.3.1 to match PyPI [skip ci]
  CHANGELOG.md
  pyproject.toml
  tenets/__init__.py
Labels: area: docs, area: config, dependencies, area: core

docs: style updates, mobile menu fixes, theme icon fix
  docs/styles/header.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/toast.css
  docs/styles/victorian.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: style updates, mobile menu fixes, theme icon fix
  docs/styles/header.css
  docs/styles/mobile.css
  docs/styles/overrides.css
  docs/styles/toast.css
  docs/styles/victorian.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: fix footer content
  docs/overrides/main.html
Labels: area: docs, area: frontend

docs: fix footer content
  docs/overrides/main.html
Labels: area: docs, area: frontend

docs: api reference page is proper now hopefully; codecov badge fix
  README.md
  docs/api/index.md
  docs/gen_ref_pages.py
Labels: area: docs

docs: api reference page is proper now hopefully; codecov badge fix
  README.md
  docs/api/index.md
  docs/gen_ref_pages.py
Labels: area: docs

docs: hopefully working api docs with clickable links for modules
  docs/gen_api.py
  docs/gen_ref_pages.py
  mkdocs.yml
Labels: area: docs

docs: hopefully working api docs with clickable links for modules
  docs/gen_api.py
  docs/gen_ref_pages.py
  mkdocs.yml
Labels: area: docs

docs: proper api docstring generation
  docs/gen_api.py
Labels: area: docs

docs: proper api docstring generation
  docs/gen_api.py
Labels: area: docs

docs: better title paths
  docs/gen_api.py
Labels: area: docs

docs: better title paths
  docs/gen_api.py
Labels: area: docs

docs: hopefully working toc generation from submodules
  docs/gen_api.py
  docs/overrides/home.html
  docs/styles/mobile.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: hopefully working toc generation from submodules
  docs/gen_api.py
  docs/overrides/home.html
  docs/styles/mobile.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: fix toc generating
  docs/gen_api.py
  mkdocs.yml
Labels: area: docs

docs: fix toc generating
  docs/gen_api.py
  mkdocs.yml
Labels: area: docs

docs: make module links clickable
  docs/gen_api.py
Labels: area: docs

docs: make module links clickable
  docs/gen_api.py
Labels: area: docs

docs: match mkdocs url generation
  docs/gen_api.py
Labels: area: docs

docs: match mkdocs url generation
  docs/gen_api.py
Labels: area: docs

docs: proper docs structure for core comps
  docs/gen_api.py
Labels: area: docs

docs: proper docs structure for core comps
  docs/gen_api.py
Labels: area: docs

docs: mkdocs should convert docs correctly now
  docs/gen_api.py
Labels: area: docs

docs: mkdocs should convert docs correctly now
  docs/gen_api.py
Labels: area: docs

docs: simplify gen_api.py and process all .py files in tenets
  docs/gen_api.py
  mkdocs.yml
Labels: area: docs
