Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

ci: fix api generation in actions
  .github/workflows/docs.yml
  mkdocs.yml
Labels: area: docs, area: ci/cd, github

ci: fix api generation in actions
  .github/workflows/docs.yml
  mkdocs.yml
Labels: area: docs, area: ci/cd, github

docs: rmv duplicate logo in nav header
  mkdocs.yml
Labels: area: docs

docs: rmv duplicate logo in nav header
  mkdocs.yml
Labels: area: docs

docs: handle language analyzer imports in API docs generator
  docs/gen_ref_pages.py
Labels: area: docs

docs: handle language analyzer imports in API docs generator
  docs/gen_ref_pages.py
Labels: area: docs

docs: cleanup; hopefully proper api module generation for docs
  docs/gen_ref_pages.py
  tenets/core/analysis/implementations/__init__.py
Labels: area: docs, area: analysis, area: core

docs: cleanup; hopefully proper api module generation for docs
  docs/gen_ref_pages.py
  tenets/core/analysis/implementations/__init__.py
Labels: area: docs, area: analysis, area: core

fix: missing package imports
  tenets/models/__init__.py
  tenets/utils/__init__.py
Labels: area: ml, area: database, area: utils

fix: missing package imports
  tenets/models/__init__.py
  tenets/utils/__init__.py
Labels: area: ml, area: database, area: utils

fix: add missing setup_logger method import
  tenets/utils/__init__.py
Labels: area: utils

fix: add missing setup_logger method import
  tenets/utils/__init__.py
Labels: area: utils

ci: simplify release workflow to ensure triggerijng on tags
  .github/workflows/release.yml
  .github/workflows/release.yml.bak
Labels: area: ci/cd, github

ci: simplify release workflow to ensure triggerijng on tags
  .github/workflows/release.yml
  .github/workflows/release.yml.bak
Labels: area: ci/cd, github

chore: cleanup generated artifact
  .github/workflows/release.yml.bak
Labels: area: ci/cd, github

chore: cleanup generated artifact
  .github/workflows/release.yml.bak
Labels: area: ci/cd, github

fix: update package description
  docs/styles/logo-fix.css
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies, area: frontend

fix: update package description
  docs/styles/logo-fix.css
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies, area: frontend

docs: ga / clarity analytics tracking, with gdpr compliance minimal in site docs
  .github/workflows/docs.yml
  docs/overrides/main.html
  docs/overrides/partials/consent.html
  docs/overrides/partials/integrations/analytics/clarity.html
  mkdocs.yml
Labels: area: docs, area: ci/cd, area: frontend, github

docs: ga / clarity analytics tracking, with gdpr compliance minimal in site docs
  .github/workflows/docs.yml
  docs/overrides/main.html
  docs/overrides/partials/consent.html
  docs/overrides/partials/integrations/analytics/clarity.html
  mkdocs.yml
Labels: area: docs, area: ci/cd, area: frontend, github

docs: fix formatting in nav builder
  docs/gen_ref_pages.py
Labels: area: docs

docs: fix formatting in nav builder
  docs/gen_ref_pages.py
Labels: area: docs

docs: fix nav tree builder to handle module / package name conflicts
  docs/gen_ref_pages.py
Labels: area: docs

docs: fix nav tree builder to handle module / package name conflicts
  docs/gen_ref_pages.py
Labels: area: docs

docs: further nav tree building fixes
  docs/gen_ref_pages.py
Labels: area: docs

docs: further nav tree building fixes
  docs/gen_ref_pages.py
Labels: area: docs

docs: further nav tree building fixes
  docs/gen_ref_pages.py
Labels: area: docs

fix: normalize pattern keys and fix misspelled folder ref; v0.1.1
  docs/gen_ref_pages.py
  pyproject.toml
  tenets/__init__.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/temporal_parser.py
  tenets/data/patterns/entity_patterns.json
  tenets/data/patterns/external_patterns.json
  tenets/data/patterns/intent_patterns.json
  tenets/data/patterns/programming_patterns.json
  tenets/data/patterns/temporal_patterns.json
Labels: area: docs, area: config, dependencies, area: core

fix: normalize pattern keys and fix misspelled folder ref; v0.1.1
  docs/gen_ref_pages.py
  pyproject.toml
  tenets/__init__.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/prompt/entity_recognizer.py
  tenets/core/prompt/temporal_parser.py
  tenets/data/patterns/entity_patterns.json
  tenets/data/patterns/external_patterns.json
  tenets/data/patterns/intent_patterns.json
  tenets/data/patterns/programming_patterns.json
  tenets/data/patterns/temporal_patterns.json
Labels: area: docs, area: config, dependencies, area: core

fix: doc links, pyppi badge link refs; fix markdown nav generation
  .github/release-drafter.yml
  MAKEFILE
  README.md
  docs/gen_ref_pages.py
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies, github

fix: doc links, pyppi badge link refs; fix markdown nav generation
  .github/release-drafter.yml
  MAKEFILE
  README.md
  docs/gen_ref_pages.py
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, dependencies, github

fix: standardize CLI command syntax for rank / distill; update docs
  docs/CLI.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  tenets/cli/commands/rank.py
  tenets/core/nlp/programming_patterns.py
Labels: area: docs, area: cli, area: core

fix: standardize CLI command syntax for rank / distill; update docs
  docs/CLI.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  tenets/cli/commands/rank.py
  tenets/core/nlp/programming_patterns.py
Labels: area: docs, area: cli, area: core

feat: automated versioning on direct push; proper changelog; retriggering v0.2.0 build
  .github/VERSIONING.md
  .github/workflows/version-bump-push.yml
  CHANGELOG.md
Labels: area: docs, area: ci/cd, github

feat: automated versioning on direct push; proper changelog; retriggering v0.2.0 build
  .github/VERSIONING.md
  .github/workflows/version-bump-push.yml
  CHANGELOG.md
Labels: area: docs, area: ci/cd, github

docs: correct emails
  docs/SECURITY.md
Labels: area: docs

docs: correct emails
  docs/SECURITY.md
Labels: area: docs

ci: address workflow issues for existing tags + full commit msgs
  .github/workflows/version-bump-push.yml
Labels: area: ci/cd, github

ci: address workflow issues for existing tags + full commit msgs
  .github/workflows/version-bump-push.yml
Labels: area: ci/cd, github

feat: trigger v0.2.0 release with accumulated fixes
  README.md
Labels: area: docs

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]
