Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]

test(cache): add comprehensive tests for cache utilities
  tests/utils/test_cache.py
Labels: area: tests

feat(ranking): add debug mode and detailed explainability
  tenets/core/ranking/factors.py
Labels: area: ranking, area: core

test(mcp): update tests for new resources and prompts
  tests/mcp/test_server.py
Labels: area: tests

fix(test): update prompt name from code_review_context to code_review
  tests/mcp/test_server.py
Labels: area: tests

docs: update MCP documentation for consolidated tools
  docs/MCP.md
  docs/index.md
Labels: area: docs

chore(release): bump version to v0.9.0 [skip ci]
  pyproject.toml
Labels: area: config, dependencies

Revert "chore(release): bump version to v0.9.0 [skip ci]"
  pyproject.toml
Labels: area: config, dependencies

feat(mcp): export MCP_VERSION constant for version introspection
  tenets/mcp/__init__.py
Labels: none

fix(mcp): improve tool discoverability with optimized descriptions and standardized parameters
  CHANGELOG.md
  docs/MCP.md
  tenets/mcp/server.py
Labels: area: docs

fix(docs): update index.md MCP tool descriptions to match improved metadata
  docs/index.md
Labels: area: docs

docs: remove duplicate VS Code Marketplace version badge [skip ci]
  README.md
Labels: area: docs

docs: remove duplicate VS Code Marketplace version badge [skip ci]
  README.md
Labels: area: docs

fix(summarizer): gracefully handle missing scikit-learn for TextRank
  pyproject.toml
  tenets/__init__.py
  tenets/core/summarizer/summarizer.py
  tests/core/summarizer/test_summarizer.py
Labels: area: config, area: tests, dependencies, area: core

fix(ci): use env vars for multiline commit messages in version-bump workflow [skip ci]
  .github/workflows/version-bump-push.yml
Labels: area: ci/cd, github

chore(release): set version to v0.9.2 [skip ci]
  pyproject.toml
  tenets/__init__.py
Labels: area: config, dependencies, area: core

chore(release): sync version to v0.9.3 to match PyPI [skip ci]
  pyproject.toml
  tenets/__init__.py
Labels: area: config, dependencies, area: core

feat(mcp): add lazy loading meta-tools for token-efficient tool discovery
  CHANGELOG.md
  README.md
  docs/MCP.md
  pyproject.toml
  tenets/__init__.py
  tenets/mcp/server.py
  tests/mcp/test_lazy_loading.py
  tests/mcp/test_server.py
Labels: area: docs, area: config, area: tests, dependencies, area: core

feat(ranking): persistent incremental BM25/TF-IDF corpus index
  tenets/config.py
  tenets/core/nlp/bm25.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/ranking/corpus_index.py
  tenets/core/ranking/ranker.py
  tests/core/nlp/test_persistent_index.py
  tests/core/ranker/test_corpus_index.py
Labels: area: ranking, area: config, area: tests, area: core

feat(cli): tenets index command + clean MCP logging
  tenets/cli/app.py
  tenets/cli/commands/index.py
  tenets/mcp/server.py
  tenets/utils/logger.py
  tests/cli/test_index_command.py
  tests/utils/test_logging_config.py
Labels: area: cli, area: tests, area: utils

fix(mcp): pin cwd to project root so .tenets.yml is reliably loaded
  tenets/mcp/server.py
  tests/mcp/test_project_root.py
Labels: area: tests

fix(cli): close sqlite connection in index status (+ CodeRabbit findings)
  .github/workflows/version-bump-push.yml
  CHANGELOG.md
  tenets/cli/commands/index.py
  tests/utils/test_logging_config.py
Labels: area: docs, area: cli, area: tests, area: ci/cd, github

fix(ranking): correct BM25 corpus on file-emptied update + harden index
  tenets/core/nlp/bm25.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/ranking/corpus_index.py
  tenets/core/ranking/ranker.py
  tenets/utils/logger.py
  tests/core/ranker/test_corpus_index.py
Labels: area: ranking, area: tests, area: core, area: utils

perf(ranking): memoize prompt-independent _analyze_corpus (skips O(N^2) import-graph rebuild)
  tenets/core/ranking/ranker.py
  tests/core/ranker/test_corpus_memo.py
Labels: area: ranking, area: tests, area: core

fix(ranking): include resolved imports in _analyze_corpus memo key
  tenets/core/ranking/ranker.py
  tests/core/ranker/test_corpus_memo.py
Labels: area: ranking, area: tests, area: core

perf(ranking): memoize per-module import resolution (kills O(N^2) import-graph build)
  tenets/core/ranking/ranker.py
  tests/core/ranker/test_import_resolution.py
Labels: area: ranking, area: tests, area: core

style(test): black-format test_import_resolution.py
  tests/core/ranker/test_import_resolution.py
Labels: area: tests

feat(mcp): self-terminate abandoned stdio servers (idle + orphan watchdog)
  tenets/mcp/server.py
  tenets/mcp/watchdog.py
  tests/mcp/test_watchdog.py
Labels: area: tests

fix(mcp): never reap the stdio server while a request is in flight
  tenets/mcp/server.py
  tenets/mcp/watchdog.py
  tests/mcp/test_watchdog.py
Labels: area: tests

fix(mcp): read watchdog state as one atomic snapshot (no reap-at-completion race)
  tenets/mcp/server.py
  tenets/mcp/watchdog.py
  tests/mcp/test_watchdog.py
Labels: area: tests

chore(vscode-ext): set marketplace publisher to jddunn
  vscode-extension/package.json
Labels: none

chore(vscode-ext): resolve tenets-mcp via portable paths (drop hardcoded /Users/johnn); bump 0.1.1
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/serverManager.ts
Labels: area: frontend

chore(vscode-ext): marketplace publisher is ManicAgency (repo owner jddunn is separate)
  vscode-extension/package.json
Labels: none

fix(ranking): --ml selects ml mode unless --mode is explicit
  tenets/cli/commands/distill.py
  tenets/cli/commands/rank.py
  tests/core/ranker/test_ml_mode_phase0.py
Labels: area: cli, area: tests

fix(ranking): ML weights stable once a semantic backend is configured (no lazy-load race)
  tenets/core/ranking/strategies.py
  tests/core/ranker/test_ml_mode_phase0.py
Labels: area: ranking, area: tests, area: core

fix(ranking): embed the query once per ML pass instead of per file
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tests/core/ranker/test_ml_mode_phase0.py
Labels: area: ranking, area: tests, area: core

fix(ranking): never construct an embedding model at ranker init or MCP warmup
  tenets/core/ranking/strategies.py
  tests/core/ranker/test_ml_mode_phase0.py
  tests/core/ranker/test_ranker.py
Labels: area: ranking, area: tests, area: core

fix(ranking): load ML model before capturing weights so --ml actually weights semantic
  tenets/core/ranking/ranker.py
  tests/core/ranker/test_ml_mode_phase0.py
Labels: area: ranking, area: tests, area: core
