Repository jddunn/tenets, changes with the labels that .github/labeler.yml gives for each.
All labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: api, area: ml, area: ci/cd, dependencies, security, performance, area: frontend, area: database, docker, github, area: core, area: storage, area: utils, area: session

.github/labeler.yml:

## Labeler Configuration (actions/labeler@v5)
## Each label key maps to an ARRAY of matcher objects.
## Matcher object keys: changed-files / exact-match / any-glob-to-any-file / all-globs-to-all-files etc.
## We only use changed-files with any-glob-to-any-file here.

'area: docs':
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**', '**/*.md', 'mkdocs.yml', 'README.md', 'CHANGELOG.md', 'CONTRIBUTING.md' ]

# Core ranking functionality
'area: ranking':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/ranking/**', 'tenets/ranking/**' ]

# Analysis modules
'area: analysis':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/core/analysis/**', 'tenets/analysis/**' ]

# CLI changes
'area: cli':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/cli/**', 'tenets/__main__.py' ]

# Configuration changes
'area: config':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/config.py', 'tenets/config/**', 'pyproject.toml', 'setup.py', 'setup.cfg', '.env*' ]

# Test changes
'area: tests':
  - changed-files:
      - any-glob-to-any-file: [ 'tests/**', 'test_*.py', '*_test.py', 'pytest.ini', '.coveragerc', 'conftest.py' ]

# API changes
'area: api':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/api/**', 'tenets/web/**', 'tenets/server/**' ]

# Machine Learning
'area: ml':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/ml/**', 'tenets/models/**', 'tenets/embeddings/**' ]

# Build and CI/CD
'area: ci/cd':
  - changed-files:
      - any-glob-to-any-file: [ '.github/workflows/**', '.github/actions/**', 'Dockerfile*', '.dockerignore', 'docker-compose*.yml', '.pre-commit-config.yaml' ]

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file: [ 'pyproject.toml', 'requirements*.txt', 'Pipfile*', 'poetry.lock', 'environment*.yml' ]

# Security-related changes
'security':
  - changed-files:
      - any-glob-to-any-file: [ 'SECURITY.md', 'tenets/security/**', 'tenets/auth/**' ]

# Performance-related changes
'performance':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/performance/**', 'tenets/cache/**', 'tenets/optimization/**' ]

# Frontend/UI changes
'area: frontend':
  - changed-files:
      - any-glob-to-any-file: [ 'frontend/**', 'static/**', 'templates/**', '**/*.html', '**/*.css', '**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx' ]

# Database changes
'area: database':
  - changed-files:
      - any-glob-to-any-file: [ 'migrations/**', 'alembic/**', 'tenets/db/**', 'tenets/database/**', 'tenets/models/**', '**/*.sql' ]

# Docker-related
'docker':
  - changed-files:
      - any-glob-to-any-file: [ 'Dockerfile*', 'docker-compose*.yml', '.dockerignore', 'docker/**' ]

# GitHub-related
'github':
  - changed-files:
      - any-glob-to-any-file: [ '.github/**' ]

# Core Python changes
'area: core':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/__init__.py', 'tenets/core/**' ]

# Storage and caching
'area: storage':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/storage/**', 'tenets/cache/**' ]

# Utils and helpers
'area: utils':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/utils/**', 'tenets/helpers/**' ]

# Session management
'area: session':
  - changed-files:
      - any-glob-to-any-file: [ 'tenets/session/**', 'tenets/core/session/**', 'tenets/storage/session*.py' ]

ci: cname domain fixes
  CHANGELOG.md
  docs/CNAME
  docs/DEPLOYMENT.md
Labels: area: docs

docs: fix logo links
  README.md
Labels: area: docs

docs: fix logo links
  README.md
Labels: area: docs

docs: cleanup, finalize architectural modularized docs, etc; update author contact in package
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONTRIBUTING.md
  docs/api/index.md
  docs/architecture/core_systems.md
  docs/architecture/data_storage.md
  docs/architecture/index.md
  docs/architecture/integration.md
  docs/architecture/overview.md
  docs/architecture/performance.md
  docs/best_practices.md
  docs/docs.md
  docs/examples.md
  docs/gen_api.py
  docs/js/architecture-lazy-load.js
  docs/js/main-backup.js
  docs/js/main.js
  docs/js/mobile-menu.js
  docs/js/search-fix.js
  docs/overrides/home.html
  docs/quickstart.md
  docs/styles/architecture.css
  docs/styles/mobile.css
  docs/styles/search.css
  docs/supported_languages.md
  mkdocs.yml
  pyproject.toml
  tenets/data/__init__.py
  tenets/models/__init__.py
  tenets/utils/__init__.py
Labels: area: docs, area: config, area: ml, dependencies, area: frontend, area: database, area: utils

docs: broken docs links fixes
  README.md
  docs/CONFIG.md
  docs/docs.md
  docs/quickstart.md
Labels: area: docs

docs: fix redirects
  README.md
  docs/gen_api.py
Labels: area: docs

fix: rmv tfidf from defaults for all bm25; update docs, add perf metrics from tests
  README.md
  docs/CONFIG.md
  docs/architecture/core_systems.md
  docs/architecture/overview.md
  docs/architecture/performance.md
  tenets/config.py
  tenets/core/ranking/strategies.py
  tests/test_config.py
Labels: area: docs, area: ranking, area: config, area: tests, area: core

fix: resolve mode adapater / forced cli overrides for mode adapting; actual working thorough mode
  tenets/cli/commands/distill.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/nlp/embeddings.py
  tenets/core/nlp/ml_utils.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/ranking/__init__.py
  tenets/core/ranking/ml_config.py
  tenets/core/ranking/optimized_ranker.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/core/reporting/html_reporter.py
  tenets/core/summarizer/__init__.py
  tenets/core/summarizer/strategies.py
  tests/conftest.py
  tests/core/nlp/test_embeddings.py
  tests/core/prompt/test_parser.py
  tests/core/ranker/test_ranker.py
  tests/core/ranking/test_performance.py
  tests/core/ranking/test_strategies.py
Labels: area: ranking, area: cli, area: tests, area: core

feat: total revamp of analysis modes for fast vs balanced, fully working embeddings, update docs / tests
  .tenets.example.yml
  README.md
  docs/CONFIG.md
  docs/architecture/core_systems.md
  docs/architecture/performance.md
  docs/overrides/home.html
  tenets/cli/commands/rank.py
  tenets/config.py
  tenets/core/analysis/lightweight.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/nlp/stopwords.py
  tenets/core/prompt/parser.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/utils/scanner.py
  tests/conftest.py
  tests/core/analysis/test_lightweight.py
  tests/core/distiller/test_distiller.py
  tests/core/nlp/test_embeddings.py
  tests/core/nlp/test_intent_keyword_filtering.py
  tests/core/ranking/test_performance.py
  tests/core/ranking/test_strategies.py
  tests/core/session/test_session.py
  tests/storage/test_cache.py
  tests/storage/test_session_db.py
  tests/utils/test_timing.py
Labels: area: docs, area: ranking, area: analysis, area: cli, area: config, area: tests, area: frontend, area: core, area: utils

fix: resolve missing type imports; linting
  tenets/cli/commands/rank.py
  tenets/config.py
  tenets/core/analysis/lightweight.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/distiller/formatter.py
  tenets/core/nlp/embeddings.py
  tenets/core/nlp/keyword_extractor.py
  tenets/core/nlp/programming_patterns.py
  tenets/core/nlp/stopwords.py
  tenets/core/prompt/parser.py
  tenets/core/ranking/ml_config.py
  tenets/core/ranking/optimized_ranker.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tenets/utils/scanner.py
  tests/conftest.py
  tests/core/analysis/test_lightweight.py
  tests/core/distiller/test_distiller.py
  tests/core/nlp/test_embeddings.py
  tests/core/nlp/test_intent_keyword_filtering.py
  tests/core/prompt/test_parser.py
  tests/core/ranker/test_ranker.py
  tests/core/ranking/test_performance.py
  tests/core/ranking/test_strategies.py
  tests/core/session/test_session.py
  tests/storage/test_cache.py
  tests/storage/test_session_db.py
  tests/utils/test_timing.py
Labels: area: ranking, area: analysis, area: cli, area: config, area: tests, area: core, area: utils

fix: standardize performance metrics; correct bm25 configuration defaults
  .tenets.example.yml
  README.md
  docs/CONFIG.md
  docs/architecture/core_systems.md
  docs/architecture/performance.md
  docs/overrides/home.html
  tenets/config.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
Labels: area: docs, area: ranking, area: config, area: frontend, area: core

fix: fix ranking_content_scan_limit in thorough and balanced config
  CNAME
  README.md
  docs/CLI.md
  docs/architecture/core_systems.md
  docs/architecture/performance.md
  docs/best_practices.md
  docs/config.md
  docs/examples.md
  docs/overrides/home.html
  tenets/config.py
  tenets/core/distiller/aggregator.py
  tenets/core/distiller/distiller.py
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
  tests/cli/commands/test_rank.py
  tests/core/ranker/test_ranker.py
Labels: area: docs, area: ranking, area: config, area: tests, area: frontend, area: core

fix: update docs to reflect single algo usage, cleanup, linting
  README.md
  docs/architecture/core_systems.md
  docs/architecture/performance.md
  docs/overrides/home.html
  tenets/core/ranking/ranker.py
  tenets/core/ranking/strategies.py
Labels: area: docs, area: ranking, area: frontend, area: core

docs: fix readme
  README.md
Labels: area: docs

docs: consistent performance metrics
  README.md
  docs/ARCHITECTURE.md
Labels: area: docs

docs: consistent performance metrics
  README.md
  docs/ARCHITECTURE.md
Labels: area: docs

fix: update all docs to use bm25 with tfidf as a potential alternative, clarify in config
  .tenets.example.yml
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/CONFIG.md
  docs/TESTING.md
Labels: area: docs

fix: update all docs to use bm25 with tfidf as a potential alternative, clarify in config
  .tenets.example.yml
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/CONFIG.md
  docs/TESTING.md
Labels: area: docs

fix: api docs lazily loaded now
  docs/gen_api.py
  docs/gen_api_optimized.py
  docs/js/api-lazy-load.js
  docs/styles/api-performance.css
  mkdocs.yml
Labels: area: docs, area: frontend

fix: api docs lazily loaded now
  docs/gen_api.py
  docs/gen_api_optimized.py
  docs/js/api-lazy-load.js
  docs/styles/api-performance.css
  mkdocs.yml
Labels: area: docs, area: frontend

style: linting
  docs/gen_api_optimized.py
Labels: area: docs

style: linting
  docs/gen_api_optimized.py
Labels: area: docs

docs: cleanup
  docs/ARCHITECTURE.md
Labels: area: docs

docs: cleanup
  docs/ARCHITECTURE.md
Labels: area: docs

docs: cleanup
  docs/ARCHITECTURE.md
  docs/api/index.md
  mkdocs.yml
Labels: area: docs

docs: cleanup
  docs/ARCHITECTURE.md
  docs/api/index.md
  mkdocs.yml
Labels: area: docs

docs: working api docs generation lazily
  docs/api/index.md
  docs/gen_api.py
  mkdocs.yml
Labels: area: docs

docs: working api docs generation lazily
  docs/api/index.md
  docs/gen_api.py
  mkdocs.yml
Labels: area: docs

docs: architectural docs cleanup / modularizing
  docs/ARCHITECTURE.md
  docs/architecture/cli-api.md
  docs/architecture/code-analysis.md
  docs/architecture/configuration.md
  docs/architecture/context-management.md
  docs/architecture/core-architecture.md
  docs/architecture/file-scanning.md
  docs/architecture/git-integration.md
  docs/architecture/guiding-principles.md
  docs/architecture/nlp-pipeline.md
  docs/architecture/output-visualization.md
  docs/architecture/performance.md
  docs/architecture/ranking-system.md
  docs/architecture/roadmap.md
  docs/architecture/security.md
  docs/architecture/session-management.md
  docs/architecture/storage-caching.md
  docs/architecture/system-overview.md
  docs/architecture/testing.md
  mkdocs.yml
Labels: area: docs

docs: architectural docs cleanup / modularizing
  docs/ARCHITECTURE.md
  docs/architecture/cli-api.md
  docs/architecture/code-analysis.md
  docs/architecture/configuration.md
  docs/architecture/context-management.md
  docs/architecture/core-architecture.md
  docs/architecture/file-scanning.md
  docs/architecture/git-integration.md
  docs/architecture/guiding-principles.md
  docs/architecture/nlp-pipeline.md
  docs/architecture/output-visualization.md
  docs/architecture/performance.md
  docs/architecture/ranking-system.md
  docs/architecture/roadmap.md
  docs/architecture/security.md
  docs/architecture/session-management.md
  docs/architecture/storage-caching.md
  docs/architecture/system-overview.md
  docs/architecture/testing.md
  mkdocs.yml
Labels: area: docs

fix: api auto generated docs on builds
  .github/workflows/docs.yml
  docs/api.md
  docs/api/index.md
  docs/gen_api.py
  docs/gen_ref_pages.py
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, area: ci/cd, dependencies, github

fix: api auto generated docs on builds
  .github/workflows/docs.yml
  docs/api.md
  docs/api/index.md
  docs/gen_api.py
  docs/gen_ref_pages.py
  mkdocs.yml
  pyproject.toml
Labels: area: docs, area: config, area: ci/cd, dependencies, github

docs: linting
  docs/gen_ref_pages.py
Labels: area: docs

docs: linting
  docs/gen_ref_pages.py
Labels: area: docs

docs: fix search styles taking over clicks
  docs/index.md
  docs/overrides/home.html
  mkdocs.yml
Labels: area: docs, area: frontend

docs: fix search styles taking over clicks
  docs/index.md
  docs/overrides/home.html
  mkdocs.yml
Labels: area: docs, area: frontend

docs: search style fixes; linting
  docs/gen_ref_pages.py
  mkdocs.yml
Labels: area: docs

docs: search style fixes; linting
  docs/gen_ref_pages.py
  mkdocs.yml
Labels: area: docs

docs: style fixes to final version from berfore with working search escape
  docs/styles/header-fixed.css
  mkdocs.yml
Labels: area: docs, area: frontend

docs: style fixes to final version from berfore with working search escape
  docs/styles/header-fixed.css
  mkdocs.yml
Labels: area: docs, area: frontend
